{% extends 'mypage.html'   %}

{% block main %}



<div>
    <h1> Contact Us</h1>
</div>

<div>

    <form method="POST">
        {% csrf_token %}
        <div><input type="text" name="fname" placeholder="First Name"></div>
        <div><input type="text" name="lname" placeholder="Last Name"></div>
        <div><input type="text" name="phone" placeholder="Contact Number"></div>
        <div><input type="email" name="email" placeholder="Email"></div>
        <div><input type="reset" value="Clear"><input type="submit" value="Submit"></div>

    </form>

</div>

{% endblock  %}
